<%= form_for @provider do |f| %>
  <p>
    <%= f.label :organization_name %><br>
    <%= f.text_field :organization_name %>
  </p>

  <p>
    <%= f.label :photo_url %><br>
    <%= f.text_field :photo_url %>
  </p>
  <%= image_tag @provider.photo_url %><br>

  <p>
    <%= f.label :bio %><br>
    <%= f.text_area :bio %>
  </p>

  <p>
    <%= f.label :POC_first_name %>
    <%= f.text_field :POC_first_name %>
    <%= f.label :POC_last_name %>
    <%= f.text_field :POC_last_name %>
  </p>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </p>

  <p>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </p>

  organization_name
  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to "All Providers", providers_path %> <br>
