<p>
  <strong>Name:</strong>
  <%= @provider.organization_name.to_s %>
</p>

<%= image_tag @provider.photo_url %><br>
| City | <%= @provider.city%> <br>
| Contact | <%= @provider.POC_first_name + " " + @provider.POC_last_name%> <br>
| Email | <%= @provider.email%> <br>
| Phone | <%= @provider.phone_number%> <br>
| Bio | <%= @provider.bio%> <br>

<%= link_to "Edit", edit_provider_path(@provider) %> <br>
<%= link_to "Back to All Providers", providers_path %>
