<p>
  <strong>Name:</strong>
  <%= @seeker.first_name + @seeker.last_name %>
</p>

| First Name | <%= @seeker.first_name%> <br>
| Last Name | <%= @seeker.last_name%>   <br>
| Gender | <%= @seeker.gender%> <br>
| Photo | <%= @seeker.photo_url%><br>
          <%= image_tag @seeker.photo_url %><br>
| City | <%= @seeker.city%> <br>
| Email | <%= @seeker.email%> <br>
| Phone | <%= @seeker.phone_number%> <br>
| Bio | <%= @seeker.bio%> <br>

<%= link_to "Edit", edit_seeker_path(@seeker) %> <br>
<%= link_to "All Seekers", seekers_path %>
