<p>
  <strong>Name:</strong>
  <%= @posting.title.to_s %>
</p>

title
description
timeframe
pay

| Title | <%= @posting.title%><br>
| Description | <%= @posting.description%><br>
          <%= image_tag @posting.photo_url %><br>
| Timeframe | <%= @posting.timeframe%><br>
| Pay | <%= @posting.pay%><br>

<%= link_to "Edit", edit_provider_posting_path(@posting) %> <br>
<%= link_to "Back to All Postings", postings_path %>
