<p>
  <strong>Title:</strong>
  <%= @posting.title.to_s %>
</p>

| Description | <%= @posting.description%><br>
| Timeframe | <%= @posting.timeframe%><br>
| Pay | <%= @posting.pay%><br>

<%= link_to "Edit", edit_provider_posting_path %> <br>
<%= link_to "Back to All Postings", postings_path %>
