<!DOCTYPE html>
<html>
<head>
  <title>Open Door</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav><!-- float this one left -->
    <div class="nav-info">
      <%= link_to "Home", root_path %>
      <%= link_to "Providers", providers_path %>
      <%= link_to "Seekers", seekers_path %>
      <%= link_to "Postings", postings_path %><br>
      <%= link_to("Create New Posting", new_provider_posting_path(current_user.provider)) if current_user && current_user.is_provider? %>
    </div>
  </nav>

  <nav><!-- float this one right -->
    <div class="user-info">
      <% if current_user %>
        Current User: <%= current_user.email %>
        <%= link_to 'Signout', destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to 'Signup', new_user_registration_path %>
        <%= link_to 'Login', new_user_session_path %>
      <% end %>
    </div>
  </nav>

<h1 class='logo'><%= link_to "Home", root_path %></h1>

<h1> Open Door </h1>

<div class="yield">
  <%= yield %>
</div>

<br>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<!-- move to the top of the page -->

</body>
</html>
