<!DOCTYPE html>
<html>
<head>
  <title>Open Door</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <div class="user-info">
      <% if current_user %>
        Current User: <%= current_user.email %>
        <%= link_to 'Signout', destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to 'Signup', new_user_registration_path %>
        <%= link_to 'Login', new_user_session_path %>
      <% end %>
    </div>
  </nav>

<%= link_to "Home", root_path %>
<%= link_to "Providers", providers_path %>
<%= link_to "Seekers", seekers_path %>

<%= yield %>

<br>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

</body>
</html>
